@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* ~~~~~~~~~~~~~~~ Reset Style ~~~~~~~~~~~~~~~ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
html {height: 100%;}
body {line-height: 1;font-family: "Jost", system-ui;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
    --clr-dark: #131118;
    --clr-dark-light: #262230;
    --clr-gray: #424146;
    --clr-light-gray: #F3F3F3;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.list-title {
    color: white;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 19px;
}

.field {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    background-color: transparent;
    border: solid 1px white;
    padding: 0.1em 1.3em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.input-icon {
    font-size: 25px;
    fill: #ffffff;
}

.input-arrow {
    font-size: 17px;
    margin-top: 7px;
}

.input-field {
    padding: 0.8em 1.3em;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.field input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
}

input::placeholder {
    color: white;
    letter-spacing: 0.5px;
}

.hr {
    background-color: var(--clr-gray);
    display: block;
    height: 1px;
    width: 100%;
    margin: 35px 0 14px;
}

h3 {
    font-size: 29px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

h1 {
    font-size: 41px;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.logo {
    width: 105px;
}

.button {
    position: relative;
    background-color: var(--clr-dark);
    color: white;
    font-weight: 300;
    width: fit-content;
    letter-spacing: 0.2px;
    padding: 16px 21px;
    box-shadow: 0px 10px var(--clr-dark) 12px;
    text-decoration: none;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.button:hover {
    background-color: var(--clr-dark-light);
}
.button ion-icon {
    position: absolute;
    right: 5px;
    top: 2px;
}

.btn-icon {
    padding-right: 45px;
}

a ion-icon {
    font-size: 23px;
    transition: 0.2s;
    padding: 7px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
a ion-icon:hover {
    color: white;
    background-color: var(--clr-dark-light);
}
/* ~~~~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~ */
header {
    margin: 0 auto;
    width: 85%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 28px;
}

nav ul li a {
    color: var(--clr-dark);
    text-decoration: none;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}
/* ~~~~~~~~~~~~~~~~~~~ Main ~~~~~~~~~~~~~~~~~~ */
main {
    width: 80%;
    margin: 45px auto;
    padding: 0 45px;
    background-color: var(--clr-light-gray);
    height: fit-content;
}

.main-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-text p {
    font-size: 21px;
}

.main-text .button {
    margin-top: 31px;
}
/* ~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~ */
footer {
    background-color: var(--clr-dark);
    bottom: 0;
    width: 100%;
    padding: 41px 0 17px;
    color: white;
    font-weight: 305;
    letter-spacing: 0.4px;
}

.footer-lsit {
    display: flex;
    justify-content: space-between;
}
.footer-lsit ul {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-lsit ul li {
    color: white;
    font-weight: 305;
    letter-spacing: 0.4px;
    line-height: 23px;
}

.footer-lsit ul li a {
    color: white;
    text-decoration: none;
    font-weight: 305;
    letter-spacing: 0.4px;
}