@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* ~~~~~~~~~~~~~~~ Reset Style ~~~~~~~~~~~~~~~ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
html {height: 100%;}
body {line-height: 1;font-family: "Jost", system-ui;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
    --clr-dark: #131118;
    --clr-dark-light: #262230;
}

header {
    margin: 0 auto;
    width: 85%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 28px;
}

nav ul li a {
    color: var(--clr-dark);
    text-decoration: none;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.logo {
    width: 105px;
}

.button {
    background-color: var(--clr-dark);
    color: white;
    font-weight: 300;
    padding: 16px 21px;
    box-shadow: 0px 10px var(--clr-dark) 12px;
    text-decoration: none;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.button:hover {
    background-color: var(--clr-dark-light);
}

ion-icon {
    font-size: 23px;
    transition: 0.2s;
    padding: 7px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
ion-icon:hover {
    color: white;
    background-color: var(--clr-dark-light);
}